:root {
    --c1: rgb(3, 7, 18);
    --c2: rgb(138, 173, 244);

    --left-color: var(--c1);
    --right-color: var(--c2);
}

body {
    background-color: var(--dark);
    margin: 0px;
}

.position__header {
    width: 100%;
    height: 100vh;
    position: -webkit-sticky;
}

.side {
    display: grid;
    height: 100vh;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
}

.side .title {
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
    font-weight: 800;
    margin: 0px 10vw;
    width: 80vw;
    text-align: center;
}

.side .fancy {
    font-family: "Permanent Marker", cursive;
    font-size: 9rem;
    line-height: 0.6rem;
    text-align: center;
}

#left__side {
    background-color: var(--left-color);
    width: 60%;
    z-index: 2;
}

#left__side .title {
    color: white;
}

#left__side .fancy {
    color: var(--right-color);
}

#right__side {
    background-color: var(--right-color);
}

#right__side .title {
    color: var(--dark);
}

#right__side .fancy {
    color: white;
}