ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content_type_right {
    width: 100%;
    height: 100%;
    list-style: none;
    background: url('/img/backend-4496461_1280.webp') no-repeat center center;
    background-size: 150%;
    z-index: -2;
    transition: background-size 0.3s ease-in-out;
}

.content_type_right:hover {
    background-size: 160%;
}

.content_type_left {
    background-image: linear-gradient(transparent 80%, black);
    width: 100%;
    height: 100%;
    list-style: none;
    background: url(/img/icon-8778714_1280.webp);
    background-size: 150%;
    z-index: -2;
    transition: background-size 0.3s ease-in-out;
}

.content_type_left:hover {
    background-size: 160%;
}

.content_type_center {
    background-image: linear-gradient(transparent 80%, black);
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: transparent;
    border-width: 0px 2px;
    border-left-color: black;
    border-right-color: black;
    list-style: none;
    background: url('/img/20240502_162805.jpg') no-repeat center center;
    background-size: 120%;
    z-index: -2;
    transition: background-size 0.3s ease-in-out;
}

.content_type_center:hover {
    background-size: 130%;
}